h1{
    font-family:'Courier New', Courier, monospace ;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}
table{
    border-collapse: collapse;
    font-size: 20px;
}
form{
    border: 2px solid black;
    position: absolute;
    left: 35%;
    padding: 20px;
}
caption{
    font-weight: bold;
}
